<!DOCTYPE html>
<html>
<head>
    <title>login</title>
    <link type="text/css" href="styles/site.css" rel="stylesheet" />
    <link type="text/css" href="styles/i.css" rel="stylesheet" />
    <script type="text/javascript" src="scripts/jquery-1.4.1-vsdoc.js"></script>
    <script type="text/javascript">
    function cleartext(texttype) {
        if (texttype == 'name' && document.getElementById("name").value == "name")
            document.getElementById("name").value = "";
        if (texttype == 'password' && document.getElementById("password").value == "password")
            document.getElementById("password").value = "";
        }
    </script>
</head>
<body>
    <div style="margin-top:300px;margin-left:300px;">
        <table style="width:550px; border: 2px solid #FFFFFF;">
            <tr>
                <td><h1>login</h1></td>
            </tr>
            <tr>
                <td><input type="text" name="name" id="name" value="name" onclick="cleartext('name');" style="color:#fff;" /></td>
            </tr>
            <tr>
                <td><input type="text" name="password" id="password" value="password" onclick="cleartext('password');" style="color:#fff;" /></td>
            </tr>
            <tr>
                <td>
                    <input name="submit" class="button" type="submit" value="Submit" />
                    <a href="register.htm" target="_blank">register</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
