<div class="item note" id="${id}">
    <div class="handle">
        <span class="title">Note</span> <a title="remove" class="removeLink" href="javascript:void(null)"
            style="background-image: url('/images/item/remove.png')"></a><a title="color" href="javascript:void(null)"
                id="icp_colorvalue" style="background-image: url('/images/item/color.png')" onclick="iColorShow('${id}','${id}')">
            </a><a title="expand" class="expandLink" href="javascript:void(null)" style="background-image: url('/images/item/max.png')">
            </a><a title="collapse" class="collapseLink" href="javascript:void(null)" style="background-image: url('/images/item/min.png')">
            </a>
    </div>
    <div class="extention">
        <table>
            <tr>
                <td>
                    <textarea class="contentTxt" cols="40" rows="15" style="width:500px;"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" value="save" class="ui-button" />
                    <span id="confirmMessage" style="color:Red;"></span>
                </td>
            </tr>
        </table>
    </div>
</div>
