<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>release note</title>
    <style>
        
    </style>
</head>
<body>
    界面部分
    <ul>
        <li>1 给item增加选择背景颜色功能</li>
        <li>2 更改打开收缩的图片</li>
        <li>3 更改item的删除图标</li>
        <li>4 修改悬浮在iconbar的图标和handle时的鼠标样式为move</li>
        <li>5 增加了日历,增加选择日期的事件，根据选择日期过滤task和note</li>
        <li>6 解决handle图标自动窜行的情况，通过添加min-width解决</li>
        <li>7 创建login和register页面</li>
        <li>8 增加了他奶奶的tooltip功能，使用qtip实现，btw:qtip真tdm是个好东西啊</li>
    </ul>

    界面代码部分
    <ul>
        <li>1 可使用的js客户端模板(通过JQuery-template实现直接render html的功能)</li>
        <li>2 维护客户端js object array</li>
        <li>3 选择使用jquery 的 jcache作为客户端缓存，用来存储所有的tasks和notes</li>
    </ul>

    业务部分
    <ul>   
        <li>1 构建js的实体模型，通过json形式表示</li>
        <li>2 加载数据</li>
        <li>3 提交数据</li>
        <li>4 客户端 和 服务器端之间的通信模型（restful service完成）</li>
    </ul>   

    服务器部分
    <ul>
        <li>1 后台服务实现(restful 部分)</li>
        <li>2 数据存储google storage</li>
        <li></li>
        <li></li>
    </ul>
</body>
</html>
